<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tw.kits.voicein">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".activity.WelcomeActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.VerifyActivity"
            android:theme="@style/AppTheme.DarkActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".activity.ProfileActivity"
            android:label="@string/profile_setting"
            android:theme="@style/AppTheme.DarkActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ContactAddActivity"
            android:label="@string/contact_setting"
            android:theme="@style/AppTheme.DarkActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ContactEditActivity"
            android:label="@string/contact_setting"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.DarkActionBar"
            android:windowSoftInputMode="adjustPan">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.MyCardActivity"
            android:label="@string/card_title"
            android:theme="@style/AppTheme.DarkActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ProfileEditActivity"
            android:label="@string/profile_setting"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.DarkActionBar"
            android:windowSoftInputMode="adjustPan">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8d6fcf959b72032bfee78651f4fc262795793af7" />

        <activity android:name=".activity.QrcodeCreateActivity"></activity>
        <activity android:name=".activity.SearchActivity"
            android:theme="@style/AppTheme.DarkActionBar"
            android:label="@string/search_title"
            android:parentActivityName=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/search_config" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
    </application>

</manifest>
